

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg-1{
    background-image: url(background.png);
    width: 100%;
    height: 100vh;
}

.bg-2{
    background-image: url(foreground.png);
    width: 100%;
    height: 100vh;
}

.bg-3{
    background-image:url(sport-1.jpg);
    width: 100%;
    height: 100vh;
}

.bg-4{
    background-image: url(sport-2.jpg);
    width: 100%;
    height: 100vh;
}

.bg-5{
    background-image: url(sport-3.jpg);
    width: 100%;
    height: 100vh;
}